/* Reset styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    display: flex;
    justify-content: center;
    background-color: rgb(169, 169, 169);
    font-family: 'Hind Madurai', sans-serif;
    scroll-behavior: smooth;
}

.cv {
    width: 80%;
    border: 1px solid black;
    margin: 2rem 0;
    background-color: rgb(188, 188, 166);
}

.content {
    margin: 0 10%;
}

header {
    display: flex;
    justify-content: end;
    background-color: #66a094;
}

section {
    margin: 4rem 0;
}

.section-width {
    width: 40%;
}

.links-list {
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 8rem;
}

.links-list li {
    margin: 0 15px;
}

.header-link,
.project-link {
    text-decoration: none;
    font-size: 2rem;
    color: #fafae4;
    transition-duration: 0.3s;
}

.header-link:hover,
.project-link:hover {
    color: #d5d5c3;
}

#main-part {
    display: flex;
    justify-content: space-between;
}

.wrapper-photo {
    border: 3px solid white;
    border-radius: 5px;
    overflow: visible;
    height: 25rem;
   
}

img {
    width: 100%;
    height: 100%;
}

.main-part__right {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1 {
    font-size: 4.8rem;
}

.contacts-box {
    line-height: 3.2rem;
}

.title-h2 {
    font-size: 3.2rem;
    padding-bottom: 1rem;
    margin-bottom: 2rem;
    border-bottom: 1px solid black;
}

.title-h3 {
    font-size: 2.4rem;
}

.contact {
    display: flex;
    align-items: center;
}

.contact-link {
    margin-left: 2rem;
    font-size: 1.6rem;
    text-decoration: none;
    color: black;
    font-weight: 500;
}

.cv-text {
    font-size: 1.6rem;
    font-weight: 500;
}

.wrapper {
    display: flex;
    justify-content: space-between;
}

.skils-list {
    list-style-position: inside;
    font-size: 2.4rem;
    line-height: 4.8rem;
    font-weight: 500;
}

li > ul {
    padding-left:20px;
    font-size: 1.6rem;
    line-height: 3.2rem;
}

.skils-list a {
    text-decoration: none;
}

code {
    font-size: 1.6rem;
}

.other-list {
    font-size: 1.8rem;
    line-height: 3.2rem;
}

.state-name {
    font-size: 1.8rem;
}

footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #66a094;
    height: 8rem;
}










@media (max-width: 768px) {
    html {
      font-size: 50%;
    }
  }


